.cartMainContainer{
    width: $widthDesktop;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 105px;
    @media(max-width:$widthDesktop){
        width: 60%;

    }
    @media(max-width:$widthSmall){
        width: 98%;
    }

    .instructionsContainer{
        width: $widthDesktop;
        display: flex;
        flex-direction: column;
    
        justify-content: center;

        @media(max-width:$widthDesktop){
            width: 98%;
        }

        .instructionsP{
            text-indent: 15px;
            @media(max-width:$widthDesktop){
                
                margin: 0px 20px;
            }
        }

        .instructionsHeadParametersContainer{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            @media(max-width:$widthDesktop){
                flex-direction: column;
            }

        }

        .instructionsMeasurmentsP{
            margin: 0px 20px;
            color: black;
        }
        #instructionImID{
            width: 250px;
            border-radius: 7px;
            margin: 0px;
            @media(max-width:$widthDesktop){
                width: 100%;
                margin: 0px;
            }
        }
    }


    .cartItemDiv{
        display: flex;
        align-items: center;
        min-height: 100px;
        background-color: white;
        border-radius: 7px;
        box-shadow: 0 1px 6px 0 rgb(165 165 167 / 14%);
        width: 100%;
        margin-top: 7px;
        box-sizing: border-box;

        @media(max-width:$widthDesktop){
            flex-direction: column;
            width: 98%;
            border: 15px solid white;
        }

        .headParametrs{
            
            height: 30px;
            display: flex;
            align-items: center;

            @media(max-width:$widthDesktop){
                flex-direction: column;
                width: 50%;
            }

            .headInput{
                width: 130px;
                margin: 0px 10px;
                font-family: 'Coda', cursive;
                font-family: 'Inter', sans-serif;
                font-family: $fontFamilyMain;
                color: rgb(57, 57, 57);
                font-size: 20px;
                border-radius: 5px;
                border: 1px solid darkgrey;
                @media(max-width:$widthDesktop){
                    width:80%;
                    margin: 10px 0px;
                }
            }
        }
        .cartItemDel{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 30px;
            border-radius: 10px;
            background-color: rgb(230 168 168);
            
        }
        .delAndPricePanel{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 30%;
            @media(max-width:$widthDesktop){
                width:80%;
                
            }
        }
        .Xcomponent{
            width: 20px;
            height: 1.5px;
            background-color: rgb(54, 54, 54);
            position: absolute;
        }

    }
    .emptyCartDiv{
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            font-size: 55px;
        }
    }
    .cartItemImage{
        width: 45px;
        height: 60px;
        border-radius: 5px;
        @media(max-width:$widthDesktop){
            width: 150px;
            height: 200px;
            
        }

    }
    .cartItemName{
        margin: 0px 10px;
        @media(max-width:$widthDesktop){
            margin: 10px 0px;

        }
    }
    .cartItemInfoParentDiv{
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        @media(max-width:$widthDesktop){
            width: 100%;
            align-items: flex-start;
            margin: 15px 0px;

        }
    }
}