.goods{
    margin-top: 105px;
    display: flex;
    justify-content: center;

    &__container{
    width: $widthDesktop;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @media (max-width:$widthPhone){
        width: 98%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    }


    
}
